<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bookings</title>
</head>
<body>
    <h1>Book IJHAYCLASSICS</h1>
    <p>Bookings are currently open</p>

    <form>
        <label for="Firstname">Firstname</label>
        <input type="text" id="Firstname" name="Firstname" placeholder="John"><br>
        <label for="Lastname">Lastname</label>
        <input type="text" id="Lastname" name="Lastname" placeholder="Doe"><br>
            <label for="Email">Email</label>
            <input type="email" id="Email" name="Email"><br>
            <label for="Date">Date</label>
            <input type="date" id="Date" name="Date">
            <input type="submit" value = "Submit">
    </form>
</body>
</html>