<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My Music Brand</title>
</head>
<body>
    <header>
    <h1>IJHAYCLASSICS</h1>
    <h2>Welcome to my music brand home</h2>
    <h3>A pianist, a guitarist and a music producer..</h3>
    </header>

    <div>
        <a href="https://wa.me/2349058353170"> chat on Whatsapp</a>
        <a href="tel:+2349058353170"> Give us a call now</a>
    </div>
</body>
</html>